@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Auckland<br />
    City Campus, Auckland<br />
    <abbr title="Phone">P:</abbr> +64 373 7599 
</address>

<address>
    <strong>Demonstration:</strong>   <a href="mailto:nozt001@auckladnuni.ac.nz">Niyazi@aucklanduni.ac.nz</a><br />
    <strong>Demonstration:</strong> <a href="mailto:skan729@auckladnuni.ac.nz">Samanyu@aucklanduni.ac.nz</a>
</address>