@using P4ViewProject.Models;


@Styles.Render("~/Content/css/")
@Scripts.Render("~/bundles/jquery")

@model P4ViewProject.Controllers.ViewDataViewModel
@{
    var result = "";
    Array userData = null;
    char[] delimiterChar = { ',' };
    var dataFile = Server.MapPath(Constants.CsvFilesPath + @Model.Filename);
    if (File.Exists(dataFile))
    {
        userData = File.ReadAllLines(dataFile);

        if (userData.Length < 1)
        {
            //empty file
            result = "The file is empty.";
        }
    }
    else
    {
        //File does not exist.
        result = "The file does not exist.";
    }
}

@*
    The first Row of the each csv table can be table header and organize this one,
*@

<div class="container">
    <input type="hidden" name="startRow" value="1">
    <input type="hidden" name="endRow" value="10">
    <div class="row" style="padding: 5px;">
        <div class="panel panel-primary" style="padding: 5px;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 id="filename">@Model.Filename</h4> 
                    </div>
                    <div class="col-sm-8" >
                        <p id="rowbadge" class="badge" style="padding:  15px 10px 15px 10px ; background-color: white; color: #33a6aa; border-radius: 20px;">
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel-body" id="mypanel">
                <section id="tablesection" class="section">
                </section>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">
                        <select class="selectpicker">
                            <option value="10">10 rec/p</option>
                            <option value="25">25 rec/p</option>
                            <option value="50">50 rec/p</option>
                            <option value="75">75 rec/p</option>
                            <option value="100">100 rec/p</option>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <div id="page-selection"></div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/javascript">

    $("document").ready(function () {

        function readDataTable(filename, st, en) {
            $.ajax({
                url: "/FileUpload/ReadCsvFile",
                type: "POST",
                data: { filename: filename , start: st, end: en },
                dataType: "json",
                success: function(lines) {

                    $.ajax({
                        url: "/FileUpload/GetFileRowsNumber",
                        type: "POST",
                        data: { filename: $("#filename").text() },
                        dataType: "text",
                        success: function(data) {
                            $("#rowbadge").html(data + ' Rows');
                            //alert(data);
                        },
                        error: {
                            //Display error Message here
                        }
                    });

                    //alert("Working till here! " + $("#filename").text());
                    //$("#part").html(lines);
                    var $panelBody = $("#mypanel");

                    var $tableConstruct = '<table class="table table-striped"> ';
                    //var $theaders = $("#tableheader");
                    //var $tdata = $("#tablebody");
                    var buildHeader = true;
                    var rowNo = $('input:hidden[name=startRow]').val();
                    $.each(lines, function(i, line) {

                        if (buildHeader === true) {
                            $tableConstruct = $tableConstruct + '<thead> <tr> <th>Row No</th>';

                            $.each(line, function(idx, title) {
                                $tableConstruct = $tableConstruct + '<th>' + title + ' </th>';
                            });
                            // header is done so now it is false
                            buildHeader = false;
                            $tableConstruct = $tableConstruct + ' </tr> </thead> <tbody>';

                        } else {
                            
                            $tableConstruct = $tableConstruct +
                                '<tr> <td> <span class="label label-primary">' + rowNo + '</span></td>';
                            $.each(line, function(idx, coldata) {
                                $tableConstruct = $tableConstruct + '<td>' + coldata + ' </td>';
                            });
                            $tableConstruct = $tableConstruct + '</td>';
                            rowNo++;
                        };

                    });

                    $tableConstruct = $tableConstruct + '</tbody> </table>';
                    $("#tablesection").html($tableConstruct);
                    console.log(data);
                },
                error: function() {
                }

            }); // ajax

        };// function readDatatable

        readDataTable($("#filename").text(), 1, 10);




        //var pageN = (parseInt($('#rowbadge').val()) / parseInt($('.selectpicker option:selected').val()));

            $("select.selectpicker").change(function () {
                // get the row per page
                var selectRowPer = $(".selectpicker option:selected").val();

                // assign the start and end rows 
                $('input:hidden[name=endRow]').val(
                     parseInt($('input:hidden[name=startRow]').val()) + parseInt(selectRowPer)
                    );


               // alert("[" + $('input:hidden[name=startRow]').val() + " - " + $('input:hidden[name=endRow]').val() + "]");
                readDataTable($("#filename").text(),
                    $('input:hidden[name=startRow]').val(),
                    $('input:hidden[name=endRow]').val());
            });

            $('#page-selection').bootpag({
                total: 5
            }).on("page", function (event, /* page number here */ num) {
                //$("#content").html("Insert content"); // some ajax content loading...
                var selectRowPer = parseInt($('.selectpicker option:selected').val());
                var totalRows = parseInt($('#rowbadge').val());
                var stRow = parseInt(selectRowPer) * (num - 1) + 1;
                var enRow = parseInt(selectRowPer) * num;

                if (stRow > totalRows || enRow > totalRows) {
                    $('input:hidden[name=startRow]').val(totalRows - selectRowPer);
                    $('input:hidden[name=endRow]').val(totalRows);
                } else {
                    $('input:hidden[name=startRow]').val(stRow);
                    $('input:hidden[name=endRow]').val(enRow);
                };

                stRow = $('input:hidden[name=startRow]').val();
                enRow = $('input:hidden[name=endRow]').val();

                // alert($('input:hidden[name=startRow]').val() + ' - ' + $('input:hidden[name=endRow]').val());
                readDataTable($('#filename').text(), stRow, enRow);

                $(this).bootpag({total: 10, maxVisible:5});
            });
     
        // init bootpag

    }); // document
</script>


